<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <style>
        html, body {
            padding: 0;
            border: 0;
            margin: 0;
        }

        body, form {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
        }
        input {
            width: 60vw;
            font-size: 5rem;
            color: blue;
            border: 1px solid black;
        }
        p {
        color: red;
        text-indent: 30px;
        text-transform: uppercase;
        font-size: 2.5em;
        }
    </style>
</head>
<body>
<h1>Basic Restful API</h1>
<h1>To get all pokemons in your pokedex: GET /pokedex</h1>
<h1>To add a pokemon into your pokedex: POST /pokedex</h1>
<h1>To get one specific pokemon: GET /pokedex/id</h1>
<h1>To update a pokemon in your pokedex: PUT /pokedex/id</h1>
<h1>To delete a pokemon from your pokedex: DELETE /pokedex</h1>
</body>
</html>

