<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokedex</title>
    <style>
        html, body, p {
            padding: 0;
            border: 0;
            margin: 0;
        }
        body {
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: left;
            height: 40vh;
        }
        img:hover {
            box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        }
        p {
            margin-left: 2rem;
            font-size: 2rem;
            color: black;
          }
        .link {
            font-size: 1rem;
        }
    </style>
</head>
<body>
<p class="link"><a href="/logout">Logout</a></p>
<p>My Pokedex<p>
<p>
{{range .}}
    <a href="/pokedex/read?ID={{.ID}}" target="pokemonDetails" ><img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{.ID}}.png"/></a>
{{end}}
</p>
<iframe name="pokemonDetails"
    title="pokemonDetails"
    width="500"
    height="100">
</iframe>

<p class="link"><a href="/pokedex/create">Insert A Pokemon</a></p>
<p class="link"><a href="/pokedex/delete">Delete A Pokemon</a></p>
<p class="link"><a href="/pokedex/update">Update a pokemon</a></p>
</body>
</html>